/CSD Class/Slot 1/listSE1623/nbproject/private/
/CSD Class/Slot 1/listSE1623/build/
/CSD Class/Slot 2/Stack/nbproject/private/
/CSD Class/Slot 2/stack/nbproject/private/
/CSD Class/Slot 2/stack/build/
/CSD Class/Slot 2/Stack/build/
/CSD Class/Slot 2/Queue/nbproject/private/
/CSD Class/Slot 2/Queue/build/